<nav id="menu">
  <ul class="row">
    <li *ngFor="let o of onglets; let index = index" (click)="setCurrent(index)" class="onglet" [class.active]="o.active">{{ o.name }}</li>
  </ul>
</nav>


<div *ngIf='current.selector === "home"; else secondBlock' class="block">
  <app-home></app-home>
</div>

<ng-template #secondBlock>
  <div *ngIf='current.selector === "files"; else thirdBlock' class="block">
    <app-files></app-files>
  </div>
</ng-template>

<ng-template #thirdBlock>
  <div class="block">
    <app-user></app-user>
  </div>
</ng-template>






