* {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 2em;
    height: 2em;
    border: 1px solid rgb(56, 120, 180);
    background-color: rgba(56, 120, 180, 1);
    box-shadow: inset 1px 1px white;
}

.marked {
    background-color: rgb(233, 156, 55);
}

.clicked {
    background-color: rgb(113, 177, 197);
}

.clicked.hasBomb {
    background-color: red;
}

