<div class="row">
    <div *ngFor="let dir of directories; let index = index">
        <app-directory (displayFiles)="setCurrent($event)" [index]="index"></app-directory>
    </div>
</div>

<div *ngIf="current != null && current.display">
    <ul>
        <li (click)="showPdf(index)" class="file-selector" *ngFor="let f of current.files; let index = index">{{ f.name }} - Date création : {{ f.created_at }}</li>
    </ul>
</div>

<div *ngIf="displayPdf">
    <button (click)="close()">CLOSE</button>
    <embed class="pdf-viewer" [src]="secureUrl" type="application/pdf">
</div>